<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RxMarkets | Viewing Platform</title>
</head>
<body>
    {#if ticker and market}
    <h1>Viewing ${ticker ?: "NULL"} on {market}</h1>
        {#for score in scores}
        <h3>{score.date}:</h3>
        <ul>
            {#for s in score.scores}
            <li>
                {s.key} = {s.value.score}
            </li>
            {/for}
        </ul>
        <p/>
        {/for}
    {#else}
    <h1 style="color:red">Unable to locate equity for ${ticker ?: "NULL"} on {market ?: "NULL"}</h1>
    {/if}
</body>
</html>