<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RxMarkets | Viewing Platform</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
{#if ticker and market}
    <nav>
        <h1>{market} > ${ticker ?: "NULL"}</h1>
        <ul>
            <li><a href="">Refresh</a></li>
        </ul>
    </nav>
{#for score in scores}
    <div style="display:none">
    <h3>{score.date}:</h3>
    <ul>
    {#for s in score.scores}
        <li>
        {s.key} = {s.value}
        </li>
    {/for}
    </ul>
    <p/>
    </div>
{/for}
    <div id="canvas-container">
        <canvas id="sentimentChart"></canvas>
    </div>
    <script src="js/plot.js"></script>
{#else}
    <h1 style="color:red">Unable to locate equity for ${ticker ?: "NULL"} on {market ?: "NULL"}</h1>
{/if}
</body>
</html>